footer {
    max-width: 100%;
    height: 10vh;
    background-color: #f31ee8;
}

.conteudo {
    background-color: #FFA500;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
  
.contatos p {
    text-align: center;
    padding: 13px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer-link {
    text-decoration: none;
    font-size: 20px;
}

.lista {
    text-align: center;
}

.lista h3 {
    font-size: 30px;
}
  
ul {
    list-style: none;
}
  
ul a {
    color: white;
    margin-top: 30px;
}
  
ul a:hover {
    color: #ff00f7ff;
}
  
.copyright {
    display: flex;
    width: 100%;
    background-color: #c26700;
    justify-content: center;
    font-size: 20px;
    margin: 0;
}
  
.redes-sociais {
    display: flex;
    justify-content: center;
    margin: 0;
}
  
.contatos a {
    display: flex;
    justify-content: center;
    margin: 0;
}
  
.redes-sociais img {
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: 10px;
    margin-left: 10px;
}