.content-main {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 50vh;
}

.barrapesquisa {
    height: 30px;
    border: 1px solid #bebebe;
    height: 10px;
    width: 400px;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 15px;
}

.barrapesquisa:focus-visible {
    outline: 1px solid rgb(255, 153, 0);
}

.pesquisa {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pesquisa p {
    font-size: 20px;
}